/* Tokyo Night */
@define-color background rgba(26, 27,38, 0.8);
@define-color background-light #24283b;
@define-color foreground #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;


/* Module-specific colors */
@define-color workspaces-color @foreground;
@define-color workspaces-focused-bg @red;
@define-color workspaces-focused-fg @orange;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

/* Text and border colors for modules */
@define-color mode-color @orange;
@define-color mpd-color @magenta;
@define-color weather-color @cyan;
@define-color playerctl-color @green;
@define-color clock-color @foreground;
@define-color cpu-color @green;
@define-color memory-color @magenta;
@define-color temperature-color @yellow;
@define-color temperature-critical-color @red;
@define-color battery-color @green;
@define-color battery-charging-color @green;
@define-color battery-warning-color @yellow;
@define-color battery-critical-color @red;
@define-color network-color @magenta;
@define-color network-disconnected-color @red;
@define-color wireplumber-color @yellow;
@define-color wireplumber-muted-color @red;
@define-color bluetooth-color @cyan;
@define-color power-color @magenta;
@define-color uptime-color @green;
@define-color updates-color @orange;
@define-color quote-color @green;
@define-color idle-inhibitor-color @foreground;
@define-color idle-inhibitor-active-color @red;
@define-color packages-color @red;

* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}



/* Common module styling with border-bottom */
#mode, #mpd, #custom-weather, #custom-playerctl, #clock, #cpu,
#memory, #temperature, #battery, #network, #wireplumber,
#backlight, #disk, #custom-uptime, #custom-updates, #custom-quote,
#idle_inhibitor, #tray, #custom-spotify, #custom-power, #bluetooth,
#custom-packages{
    padding: 0 10px;
    margin: 0 2px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

/* Workspaces styling */
#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @workspaces-color;
    margin: 0;
}

#workspaces button:hover {
    background: @background;
    box-shadow: inset 0 -2px @workspaces-focused-bg;
}

#workspaces button.active {
    box-shadow: inset 0 -2px @workspaces-focused-fg;
    color: @workspaces-focused-fg;
    font-weight: 900;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
    color: @workspaces-urgent-fg;
}

/* Module-specific styling */
#mode {
    color: @mode-color;
    border-bottom-color: @mode-color;
}

#mpd {
    color: @mpd-color;
    border-bottom-color: @mpd-color;
}

#custom-packages {
    color: @packages-color;
    border-bottom-color: @packages-color;
}

#mpd.disconnected,
#mpd.stopped {
    color: @foreground;
    border-bottom-color: transparent;
}

#custom-weather {
    color: @weather-color;
    border-bottom-color: @weather-color;
}

#custom-spotify {
    color: @playerctl-color;
    border-bottom-color: @playerctl-color;
}

#clock {
    color: @clock-color;
    border-bottom-color: @clock-color;
}

#cpu {
    color: @cpu-color;
    border-bottom-color: @cpu-color;
}

#memory {
    color: @memory-color;
    border-bottom-color: @memory-color;
}

#temperature {
    color: @temperature-color;
    border-bottom-color: @temperature-color;
}

#temperature.critical {
    color: @temperature-critical-color;
    border-bottom-color: @temperature-critical-color;
}

#battery {
    color: @battery-color;
    border-bottom-color: @battery-color;
}

#battery.charging, #battery.plugged {
    color: @battery-charging-color;
    border-bottom-color: @battery-charging-color;
}

#battery.warning:not(.charging) {
    color: @battery-warning-color;
    border-bottom-color: @battery-warning-color;
}

#battery.critical:not(.charging) {
    color: @battery-critical-color;
    border-bottom-color: @battery-critical-color;
}

#network {
    color: @network-color;
    border-bottom-color: @network-color;
}

#network.disconnected {
    color: @network-disconnected-color;
    border-bottom-color: @network-disconnected-color;
}

#wireplumber {
    color: @wireplumber-color;
    border-bottom-color: @wireplumber-color;
}

#wireplumber.muted {
    color: @wireplumber-muted-color;
    border-bottom-color: @wireplumber-muted-color;
}

#bluetooth {
    color: @bluetooth-color;
    border-bottom-color: @bluetooth-color;
}

#custom-power {
    color: @power-color;
    border-bottom-color: @power-color;
}

#custom-uptime {
    color: @uptime-color;
    border-bottom-color: @uptime-color;
}

#custom-updates {
    color: @updates-color;
    border-bottom-color: @updates-color;
}

#custom-quote {
    color: @quote-color;
    border-bottom-color: @quote-color;
}

#idle_inhibitor {
    color: @idle-inhibitor-color;
    border-bottom-color: transparent;
}

#idle_inhibitor.activated {
    color: @idle-inhibitor-active-color;
    border-bottom-color: @idle-inhibitor-active-color;
}

#tray {
    background-color: transparent;
    padding: 0 10px;
    margin: 0 2px;
    color: @white;
    border-bottom-color: @white;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
    border-bottom-color: @red;
}
