/* Tokyo Night */
@define-color background rgba(26, 27, 38, 0.8);
@define-color background-light rgba(36, 40, 59, 0.8);
@define-color foreground #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;


* {
	background-image: none;
	box-shadow: none;
}

window {
  font-family: "Iosevka Nerd Font";
	background-color: @background;
  font-size: 24px;
  color: @foreground;
}

button {
	background-repeat: no-repeat;
	background-position: center;
  background-size: 55%;
  color: @foreground;
  text-shadow: none;
  transition: background-color 0.2s ease-in-out, border-bottom-width 0.2s ease-in-out, background-size 0.2s ease-in-out;
  padding: 20 20px;
  margin: 90 20px;
  border: none;
  border-bottom: 4px solid transparent;
  background-color: transparent;
  border-radius: 0px;
}

button:hover{
  background-color: @background-light;
  border-bottom-width: 25px;
  background-size: 62%;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-bottom-color: @yellow;
    color: @yellow;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-bottom-color: @green;
    color: @green;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-bottom-color: @red;
    color: @red;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-bottom-color: @magenta;
    color: @magenta;
}
